.announcement {
  @extend %card;

  h1, h2 {
    @extend .text-gamma;
  }

  .announcement-meta {
    @extend .text-epsilon;
  }

  border: 1px solid green;
  background-color: rgba(0, 102, 0, 0.2);
  border-radius: 2px;
}
