// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
a abbr[title] {
  border-bottom: none;
}

.main-content {
    font: 1.0rem Inconsolata, monospace;
    padding: 60px 80px 80px 60px;
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.333);
    border-radius: 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,.2) 70%,
        rgba(0,0,0,.6)
    );
    background-size: 80% .3rem;
    text-shadow: 0 0 6px #C8C8C8;
}

.site-logo {
    height: 400%;
}

.nav-list-link.active {
    background-image: none !important;
    background-color: rgba(0, 102, 0, 0.2);
    border-radius: 2px;
    border: 1px solid green;
}
.nav-list-link:active {
    background-color: rgba(0, 102, 0, 0.2);
    background-image: none !important;
    border: 1px solid green;
    border-radius: 2px;
}

.nav-list-link:hover {
    border: 1px solid green;
    background-color: rgba(0, 102, 0, 0.2);
    background-image: none !important;
}
.nav-list-item:active {
    border: 1px solid green;
    background-color: rgba(0, 102, 0, 0.2);
    border-radius: 2px;
    background-image: none !important;
}

.nav-list-item:hover {
    border: 1px solid green;
    background-color: rgba(0, 102, 0, 0.2);
    border-radius: 2px;
    background-image: none;
}

.module {
    border: 1px solid green;
    background-color: rgba(0, 102, 0, 0.2);
    border-radius: 5px;
}

abbr[title] {
  text-decoration: none;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

div.highlighter-rouge[overlay] {
  position: relative;

  &::after {
    @extend .label, .text-grey-dk-100;

    background-color: $white;
    border-radius: $border-radius;
    bottom: $sp-2;
    content: attr(overlay);
    position: absolute;
    right: 0;
    user-select: none;
  }
}

details {
  margin: 0 40px 1em;
}

h1, h2, h3, h4, h5, h6 {
  align-items: center;
  display: flex;
}

iframe,
summary {
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  a {
    overflow-wrap: anywhere;
    white-space: normal;
  }

  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }

  .katex {
    font-size: 1.1em;
  }
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--add-height"]::before {
    padding-bottom: calc(100% / (var(--aspect-ratio)) + (var(--add-height)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
