$link-color: #00e600;
$body-background-color: #000000;
$sidebar-color: #000000;
$body-text-color: #fefefe;
$body-heading-color: #66ff66;
$body-font-family: "SFMono-Regular", Menlo, Consolas, Monospace, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-button-color: #00ff06 !default;
$search-background-color: #5b5b5b;
$feedback-color: #1d6c2b !default;
$code-background-color: #000000;
$border-color: #363636;




