$link-color: #00e600;
$body-background-color: $grey-dk-300;
$sidebar-color: #000000;
$body-text-color: #fefefe;
$body-heading-color: #66ff66;
$body-font-family: Consolas, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;


